{% extends 'kint/_layouts/settings' %}

{% import '_includes/forms' as forms %}
{% import 'verbb-base/_macros' as macros %}

{% set fullPageForm = true %}
{% set selectedTab = 'general' %}
{% set pageTitle = 'General Settings' | t('kint') %}
{% set pageAction = 'plugins/save-plugin-settings' %}
{% set pageUrl = 'kint/settings' %}

{% block settingsContent %}
{{ forms.selectField({
    label: 'Display Theme' | t('kint'),
    instructions: 'Pick a theme for Kint to use.' | t('kint'),
    name: 'kintDisplayTheme',
    options: {
        'original.css': 'Original' | t('kint'),
        'solarized.css': 'Solarized' | t('kint'),
        'solarized-dark.css': 'Solarized Dark' | t('kint'),
        'aante-light.css': 'Aante Light' | t('kint'),
    },
    value: settings.kintDisplayTheme,
}) }}
{% endblock %}
